<section class="compatibility" id="compatibility">
    <div class="global-container">
        <div class="compatibility__header w-100">
            <p class="compatibility__title">Compatibility</p>
        </div>
        <div class="w-100">
            <div class="comp-type d-flex justify-content-between mt-3 flex-wrap flex-md-nowrap">
                <div class="comp-type__item">
                    <p class="comp-type__title">iOS</p>
                    <p class="comp-type__subtitle">
                        Requires iOS 6.0 or later. Compatible with iPhone, iPad, and iPod touch. This app is optimized for iPhone 5.
                    </p>
                    <div class="comp-type__devices mt-2"></div>
                </div>
                <div class="comp-type__item">
                    <p class="comp-type__title">Android</p>
                    <p class="comp-type__subtitle">
                        Compatible with Android KitKat 4.4 or later.Support for x86 devices (i.e. Samsung Galaxy Tab 3 10.1).
                    </p>
                    <div class="comp-type__devices"></div>
                </div>
            </div>
        </div>
    </div>
</section>