<footer class="footer">
    <div class="global-container">
        <div class="footer__wrapper">
            <p class="footer__rights">                    
                © 2014 ama. All Rights Reserved.
            </p>
            <div class="footer__contact footer-contact">
                <form action="#" class="footer-contact__form">
                    <p class="footer-contact__title">Subscribe our email newsletter.</p>
                    <div class="footer-contact__block">
                        <input type="text" class="footer-contact__input" placeholder="Your email">
                        <button class="footer-contact__submit-btn" type="button">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>