<header class="header" id="header">
    <div class="global-container">
        <div class="header__wrapper">
            <div class="header__logo">
                <p class="header__logo--text" onclick="scrollToSection(0, event)">
                    ama
                </p>
            </div>
            <ul class="header__list">
                <li class="header__link"><a href="#" class="header__link--link active" onclick="scrollToSection(0, event)">Hello</a></li>
                <li class="header__link"><a href="#" class="header__link--link" onclick="scrollToSection(1, event)">Overview</a></li>
                <li class="header__link"><a href="#" class="header__link--link" onclick="scrollToSection(2, event)">Share</a></li>
                <li class="header__link"><a href="#" class="header__link--link" onclick="scrollToSection(3, event)">Feature</a></li>
                <li class="header__link"><a href="#" class="header__link--link" onclick="scrollToSection(4, event)">Gallery</a></li>
                <li class="header__link"><a href="#" class="header__link--link" onclick="scrollToSection(5, event)">Download</a></li>
                <li class="header__link"><a href="#" class="header__link--link" onclick="scrollToSection(6, event)">Compatibility</a></li>
            </ul>
            
            <div class="burger">
                <div class="burger-item"></div>
                <div class="burger-item"></div>
                <div class="burger-item"></div>
            </div>
        </div>
    </div>
    <div class="mobile-navbar">
        <p onclick="scrollToSection(0, event)" class="mobile-navbar__item">Hello</p>
        <p onclick="scrollToSection(1, event)" class="mobile-navbar__item">Overview</p>
        <p onclick="scrollToSection(2, event)" class="mobile-navbar__item">Share</p>
        <p onclick="scrollToSection(3, event)" class="mobile-navbar__item">Feature</p>
        <p onclick="scrollToSection(4, event)" class="mobile-navbar__item">Gallery</p>
        <p onclick="scrollToSection(5, event)" class="mobile-navbar__item">Download</p>
        <p onclick="scrollToSection(6, event)" class="mobile-navbar__item">Compatibility</p>
    </div>
</header>