<div class="iphone">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide iphone_phone"></div>
            <div class="swiper-slide iphone_phone"></div>
            <div class="swiper-slide iphone_phone"></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="iphone__wrapper">
        <div class="iphone__title">Capture and Share</div>
        <div class="iphone__buttons">
            <div class="iphone__button">
                <img class="iphone__button--icon" src="../../img/icon-appstore.png" alt="icon">
                <span class="iphone__button--text">App store</span>
            </div>
            <div class="iphone__button">
                <img class="iphone__button--icon" src="../../img/icon-playstore.png" alt="icon">
                <span class="iphone__button--text">Play Store</span>
            </div>
        </div>
    </div>
</div>
