<section class="taken" id="gallery">
    <div class="global-container">
        <div class="taken__text-container">
            <p class="taken__title">Taken with ama</p>
            <p class="taken__subtitle">
                Mauris euismod ultrices nisl sit amet luctus. Donec volutpat arcu ullamcorper facilisis vulputate. Sed auctor pulvinar ornare. Donec gravida. 
            </p>
        </div>
    </div>
    <div class="taken__wrapper">
        <ul class="taken__items">
            <li class="taken__item taken-item">
                <div class="taken-item__wrapper">
                    <p class="taken-item--text">Mauris euismod ultrices</p>
                    <div class="taken-item--likes">65</div>
                </div>
            </li>
            <li class="taken__item taken-item">
                <div class="taken-item__wrapper">
                    <p class="taken-item--text">Mauris euismod ultrices</p>
                    <div class="taken-item--likes">65</div>
                </div>
            </li>
            <li class="taken__item taken-item">
                <div class="taken-item__wrapper">
                    <p class="taken-item--text">Mauris euismod ultrices</p>
                    <div class="taken-item--likes">65</div>
                </div>
            </li>
            <li class="taken__item taken-item">
                <div class="taken-item__wrapper">
                    <p class="taken-item--text">Mauris euismod ultrices</p>
                    <div class="taken-item--likes">65</div>
                </div>
            </li>
        </ul>
    </div>
</section>