<div class="why" id="overview">
    <p class="why__title display-3 text-center">Why ama?</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 mb-4 why-item text-center d-flex justify-content-center align-items-center flex-column">
                <div class="why-item__img bg-focus"></div>
                <div class="why-item__text">
                    <p class="why-item__title h4">
                        Auto focus
                    </p>
                    <p class="why-item__subtitle">
                        ultrices nisl sit amet luctus. Donec volutpat arcu ullamcorper facilisis vulputate. Sed auctor pulvinar
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 why-item text-center d-flex justify-content-center align-items-center flex-column">
                <div class="why-item__img bg-focus"></div>
                <div class="why-item__text">
                    <p class="why-item__title h4">
                        Secured with touch id
                    </p>
                    <p class="why-item__subtitle">
                        ultrices nisl sit amet luctus. Donec volutpat arcu ullamcorper facilisis vulputate. Sed auctor pulvinar
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 why-item text-center d-flex justify-content-center align-items-center flex-column">
                <div class="why-item__img bg-focus"></div>
                <div class="why-item__text">
                    <p class="why-item__title h4">
                        Auto focus
                    </p>
                    <p class="why-item__subtitle">
                        ultrices nisl sit amet luctus. Donec volutpat arcu ullamcorper facilisis vulputate. Sed auctor pulvinar
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
