<div class="why" id="overview">
    <p class="why__title">Why ama?</p>
    <div class="global-container">
        <div class="why__wrapper">
            <div class="why__item why-item">
                <div class="why-item__img"></div>
                <div class="why-item__text">
                    <p class="why-item__title">
                        Auto focus
                    </p>
                    <p class="why-item__subtitle">
                        ultrices nisl sit amet luctus. Donec volutpat arcu ullamcorper facilisis vulputate. Sed auctor pulvinar 
                    </p>
                </div>
            </div>
            <div class="why__item why-item">
                <div class="why-item__img"></div>
                <div class="why-item__text">
                    <p class="why-item__title">
                        Secured with Touch ID 
                    </p>
                    <p class="why-item__subtitle">
                        ultrices nisl sit amet luctus. Donec volutpat arcu ullamcorper facilisis vulputate. Sed auctor pulvinar ornare. Donec gravida 
                    </p>
                </div>
            </div>
            <div class="why__item why-item">
                <div class="why-item__img"></div>
                <div class="why-item__text">
                    <p class="why-item__title">
                        Your Filters
                    </p>
                    <p class="why-item__subtitle">
                        ultrices nisl sit amet luctus. Donec volutpat arcu ullamcorper facilisis vulputate. Sed auctor pulvinar ornare. Donec gravida 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>