.header {
    width: 100%;
    position: fixed;
    z-index: 9999999;
    background-color: #de5d5d;
}
.header__logo {
    cursor: pointer;
    transition: .3s;
}
.header__logo:hover {
    transition: .3s;
    transform: translateY(-5px);
}
.header__logo--text {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__link {
    display: block;
    position: relative;
}
.header__link:hover {
    opacity: .7;
}

.header__link--link {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Varela Round";
    position: relative;
}

.header__link--link.active::after {
    opacity: 1;
    transition: .3s;
}

.header__link--link::after {
    content: "";
    position: absolute;
    top: -125%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 40px;
}
.burger-item {
    transition: .3s;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.burger.active .burger-item:nth-child(1) {
    transform: rotate(40deg) translateX(9px);
}
.burger.active .burger-item:nth-child(2) {
    display: none;
}
.burger.active .burger-item:nth-child(3) {
    transform: rotate(-45deg) translateX(10px);
}

.mobile-navbar {
    position: absolute;
    transition: .5s;
    transform: translateY(-300vw);
    background-color: #de5d5d;
    width: 100vw;
    height: calc(100vh - 55px);
    display: flex;  
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px;
    z-index: 99999;
}
.mobile-navbar__item {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Varela Round";
}
.mobile-navbar.active {
    transform: translate(0);
}

.container {
    max-width: 1170px;
}

@media (max-width: 900px) {
    .header__list {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .header__list {
        display: none;
    }
    .burger {
        display: flex;
    }
}
