.share{
    background-color: #262626;
    .info{
        &__wrapper{
            flex-wrap: wrap;
        }
    }
}

.features{
    background-color: #313131;
    .info{
        &__wrapper{
            flex-wrap: wrap-reverse;
        }
    }
}

.info {
    &__wrapper {
        gap: 80px;
    }
    &__img {
        height: 650px;
        width: min(100%, 600px);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .share &__img {
        background-image: url("../../img/background-6.png");
    }
    .features &__img {
        background-image: url("../../img/background_5.png");
    }

    &__content {
        gap: 5%;
        width: min(100%, 400px);
    }

    &__title {
        font-size: 48px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Montserrat";
    }

    &__subtitle {
        width: min(100%, 443px);
        font-size: 18px;
        line-height: 27px;
        color: #aeaeae;
        font-weight: 400;
        font-family: "Varela Round";
    }

    &__slide {
        gap: 20px;
        max-width: 450px;
    }
    &__slider{
        padding: 30px 0;
        margin-bottom: 20px;
    }
}

.slide {
    &__media {
        width: 170px;
        height: 93px;
        background-color: #de5d5d;
    }

    &__title {
        width: 251px;
        font-size: 16px;
        line-height: 24px;
        color: #aeaeae;
        font-family: "Varela Round";
    }
}
.feature-slider {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    &__swiper-pagination{
        background-color: #de5d5d;
        bottom: 0;
        width: 100%;
    }
    &__img {
        height: 70px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("../../img/brush.png");
    }
    &__slide{
        display: flex!important;
        align-items: center;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
        color: #cc5858;
        font-weight: 400;
        font-family: "Montserrat";
    }

    &__subtitle {
        width: 283px;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
        font-weight: 400;
        font-family: "Varela Round";
    }
}

@media (max-width: 768px){
    .info{
        &__slide{
            flex-direction: column;
        }
        &__img{
            height: 450px;
        }
    }
}